.calc-display{
    width: 100%;
    height: 250px;
    background-color: black;
    position: relative
}
.display-main{
    width: 95%;
    height: 210px;
    background-color: green;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.display-container{
    width: 570px;
    height: 60px;
    margin-top: 60px;
}
.form-content{
    width:110px;
    height:52px;
}
.display-content{
    width: 350px;
    height: 60px;
}
.display-result{
    width: 110px;
    height: 60px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px; */
    text-align: center;
}

.div-num, .div-denum, .div-int{
    height: 26px;
    width: 40px;
    font-size: 21px;
    text-align: center;    
}
.div-num{
    border-bottom: 1px solid black;
}
.div-operation{
    height: 26px;
    width: 22px;
    font-size: 21px;     
}

.input-size{

    width: 40px;
    text-align: center;
    font-size: 21px;
     
}

/* exprerimental */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input{
    background-color: green;
    border:none;
}
.input:focus {
    outline: none !important;
    border:none;
    box-shadow: 0 0 10px #000000;
}
