<div class="calc-display">
    <div class="display-main">
        <div class="display-container">
            <div class="display-content" style="float:left; text-align: center;" [style.width.px]="[DivWidth]" >
                <!-- {{expression}} -->
                <table>
                <tr style="display:inline-block"  *ngFor="let r of rNumbers; let i = index">
                    <td colspan="2">
                        <div class="div-int">
                            {{rNumbers[i].integer}}
                        </div>
                    </td>
                    <td>
                        <div class="div-num">
                            {{rNumbers[i].numerator}} 
                        </div>
                        <div class="div-denum">
                            {{rNumbers[i].denumerator}}
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="div-operation">
                            {{operators[i]}}                                
                        </div>
                    </td>
                  </tr>
            </table>
            </div>
            <form class="form-content" style="float:left">
                <table>
                    <tr>
                        <td colspan="2">
                            <input type="number" name="int" class="input-size" [(ngModel)]="this.rNumber.integer" (focus)="onFocus('integer')" #integer>
                        </td>
                        <td>
                            <input type="number" name="num" class="input-size" [(ngModel)]="this.rNumber.numerator" (focus)="onFocus('numerator')" #numerator style="border-bottom: 1px solid black;">
                            <input type="number" name="denum" class="input-size" [(ngModel)]="this.rNumber.denumerator" (focus)="onFocus('denumerator')" #denumerator>  
                        </td>
                    </tr>
                </table>             
            </form>
            <div class="display-result" *ngIf="isShow">
                <table class="table-result">
                       <tr>
                        <td colspan="2">
                            <div class="div-operation">
                                =
                            </div>
                        </td>
                        <td colspan="2" *ngIf="isNumber || isMixedRN" >
                            <div class="div-int">
                                {{this.resultedRN.integer}}
                            </div>
                        </td>
                        <td *ngIf="isFraction || isMixedRN">
                            <div class="div-num">
                                {{this.resultedRN.numerator}} 
                            </div>
                            <div class="div-denum">
                                {{this.resultedRN.denumerator}}
                            </div>
                        </td>
                    </tr>
                </table> 
            </div>
        </div>
        <!-- <div class="display-result" *ngIf="isShow">
            <table>
                   <tr>
                    <td colspan="2">
                        <div class="div-operation">
                            =
                        </div>
                    </td>
                    <td colspan="2" *ngIf="isNumber || isMixedRN">
                        <div class="div-int">
                            {{this.resultedRN.integer}}
                        </div>
                    </td>
                    <td *ngIf="isFraction || isMixedRN">
                        <div class="div-num">
                            {{this.resultedRN.numerator}} 
                        </div>
                        <div class="div-denum">
                            {{this.resultedRN.denumerator}}
                        </div>
                    </td>
                </tr>
            </table> 
        </div> -->
    </div>
</div>